body {
	width: 100%;
	margin: 0;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0;
	position: absolute;
}

.nav-bar{
	vertical-align: middle;
	width: 100px;
	height: 100%;
	background: #FFAB40;
	position: fixed;
	transition: ease-out .75s;
	opacity: 0;
	transform: translateY(-100%);
}

.nav-bar-shown { 
	transition: ease-in .75s;
	transform: translateY(0); 
	opacity: 1;
}

button {
	border-radius: 50%;
    border: none;
    background: #fff;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

button:focus { 
	outline-style: none; 
}

button:hover {
	transition: ease-in .2s;
	height: 55px;
	width: 55px;
}

button:hover::after {
	transition: ease-in .2s;
	height: 50px;
	width: 50px;
}

.nav-bar-buttons {
	padding-left: 25%;
    position: absolute;
    top: 33%;
}

.img-button {
	width: 25px;
	height: 25px;
}

.credit {
	padding: 0 15px;
    font-size: .7em;
    font-weight: 700;
    top: 94%;
    position: absolute;
}

.page-home{
	height: 100%;
	background: white;
}

.page-work{
	height: 100%;
	background: #fff;
}

.page-about{
	height: 100%;
	background: #fff;
}

.menu-button {
	border: 2px solid #FFAB40;
	position: absolute;
	z-index: 999;
<<<<<<< HEAD
	margin-left: 2em;
	margin-top: 2em;
}
=======
	margin-left: 2%;
	margin-top: 2%;
}
>>>>>>> 17b9bfc4652c56ac193622ddf0bd6a3cdf513cb7
